.current-pres{
  font-weight: bold
}

.current-chan{
  font-style: italic
}

.prev-pres{
  text-decoration: underline
}

.prev-chan{
  text-decoration: underline;
}

.choosable-player{
  cursor: pointer
}

.disconnected{
  opacity: .3
}

.selected{
  border: 3px solid black
}

.dead{
  text-decoration: line-through
}

.Liberal{
  color: blue
}

.Fascist{
  color: red
}

.hitler{
  color: darkred
}